* {
    color: rgb(100, 98, 98);
}

.title {
    font-size: 50px;
}

.number {
    height: 28px;
    width: 300px;
    background-color: rgb(224, 216, 216);
    border: none;
    border-radius: 2px;
}


.button  {
    height: 30px;
    width: 65px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(62, 189, 248) ;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;;
}

.text {
    height: 28px;
    width: 600px;
    box-sizing: border-box;
    border: 3px solid rgb(224, 216, 216);
}